.header {
    background-color: #FFFFFF;
}

.header__title {
    position: absolute;
    width: 670px;
    height: 64px;
    left: 160px;
    top: 96px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;

    color: #212429;
}
