/* Стилизация кнопки */
button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    width: 189px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  }
  
  .button_primary {
    background: var(--primary);
    border-radius: 8px;
  }

  .button_primary:hover {
    background: var(--blue-2);
    border-radius: 8px;
  }

  .button_primary_disabled {
    background: var(--primary);
    opacity: 0.5;
    border-radius: 8px;
    cursor: default;
  }
  
  .button_secondary{
    background: var(--purple);
    border-radius: 8px;
  }
  
  .button_secondary:hover{
    background: var(--purple-2);
    border-radius: 8px;
  }
  
  .button_secondary_disabled{
    background: var(--purple);
    opacity: 0.5;
    border-radius: 8px;
    cursor: default;
  }
  
  .button_alternate{
    border: 1px solid var(--grey-3);
    border-radius: 8px;
  }
  
  .button_alternate:hover{
    border: 1px solid var(--black);
    border-radius: 8px;
  }
  
  .button_alternate_disabled{
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    cursor: default;
  }
   