.histogram {
    background-color: var(--white);
    padding: 16px 24px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.histogram__wrapper {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    color: var(--black);
    opacity: 0.8;
    display: inline-block;
    margin: 0 0 6px;
}

.histogram__link {
    text-decoration-line: none;
    color: var(--blue-1);
}

.histogram__total {
    font-size: 20px;
    margin: 0;
}

.histogram__scale {
    display: flex;
    gap: 1px;
    margin-top: 39px;
    height: 50px;
    align-items: flex-end;
}

.histogram__scale-line {
    display: flex;
    background-color: var(--blue-1);
    flex-basis: 9px;
    flex-grow: 1;
}