.main {
    background: #F9FAFC;
    padding: 68px 0;
}

.main__cards{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #DDE2E5;
    gap: 30px;
}

.main__card {
    width: 350px;
    font-size: 16px;
}
