.footer {
    background-color: #FFFFFF;
}
.footer__title {
    position: absolute;
    width: 111px;
    height: 48px;
    left: 682px;
    top: 1345px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
}
.footer__description {
    position: absolute;
    width: 640px;
    height: 96px;
    left: 417px;
    top: 1425px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
}
